.card-edit .card{
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color:#4bcffa ;
  padding: 11vh 2rem 2rem 2rem;
  box-shadow: none;
}
.card-edit .wrapper-center{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.card-edit .wrapper-right{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}
.card-edit h4, .card h5{
  padding: 0.5rem;
  font-size: 1.2rem;
}
.card-edit .card .wrapper-img{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.card-edit img{
width:500px;
transition: all 0.5s ease-in-out;
}
.card-edit img:hover{
 transform: scale(1.2);
}
.card-edit .wrapper-color{
  display: flex;
  font-size: 1.5rem;
}
.card-edit .wrapper-color p{
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.card-edit .wrapper-color p:hover{
  transform: scale(1.2);
}
.card-edit .wrapper-color p:active{
  border: 1px solid red;
  
}
.card-edit .wrapper-size{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
}
.card-edit .wrapper-size p{
  border: 1px solid ;
  width: 40px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}
.card-edit .wrapper-size p:hover{
  transform: scale(1.2);
}
.card-edit .wrapper-size p:active{
  background: red;
}
.card-edit .add-cart{
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom:10%;
  right: 0%;
  padding-right: 3rem;
}