.nav {
  max-width: 1440px;
  width: 100%;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  background: #0fbcf9;
  z-index: 2;
}

.nav .title {
  width: 375px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: #1e272e;
}

.nav .link {
  text-decoration: none;
  color: #1e272e;
  display: flex;
  align-items: center;
  
}
.nav .link h2{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.nav .link .span-contact{
  font-size:1.8rem ;
  margin-left: 5px;
}
.nav .link .span-cart{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1e272e;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 5px;
  margin-bottom:15px ;
}
.nav .wrapper {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: -100vh;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    background: #34e7e4;
    height: 8rem;
    width: 100%;
  }

  .link {
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-none {
    transform: translateY(100vh);
  }
}
